In [2]:
import ttg

ttg.Truths(['p'],['~p']).as_pandas
ttg.Truths(['p','q'],['p or q', 'p and q','p != q','p => q','p = q'], ascending = True).as_pandas

   p  q  p or q  p and q  p != q  p => q  p = q
1  0  0       0        0       0       1      1
2  0  1       1        0       1       1      0
3  1  0       1        0       1       0      0
4  1  1       1        1       0       1      1

In [4]:
# 2.4 github
import ttg

ttg.Truths(['p','q','r'],['~r','~r=>p','q and (~r => p)'], ascending=True).as_pandas

   p  q  r  ~r  ~r=>p  q and (~r => p)
1  0  0  0   1      0                0
2  0  0  1   0      1                0
3  0  1  0   1      0                0
4  0  1  1   0      1                1
5  1  0  0   1      1                0
6  1  0  1   0      1                0
7  1  1  0   1      1                1
8  1  1  1   0      1                1

In [4]:
# in ra các tập con của tập gồm n phần tử:
from itertools import chain, combinations

def tao_tap_con(tap_hop):
    return list(chain(*map(lambda x: combinations(tap_hop, x), range(0, len(tap_hop)+1))))

tap_hop = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(len(tao_tap_con(tap_hop)))
count = 0
tao_tap_con(['1','2','3','4'])

1024

[(),
 ('1',),
 ('2',),
 ('3',),
 ('4',),
 ('1', '2'),
 ('1', '3'),
 ('1', '4'),
 ('2', '3'),
 ('2', '4'),
 ('3', '4'),
 ('1', '2', '3'),
 ('1', '2', '4'),
 ('1', '3', '4'),
 ('2', '3', '4'),
 ('1', '2', '3', '4')]

In [5]:
# in ra tổ hợp chập k của list n phần tử
import itertools

def tao_to_hop_lap(tap_hop, k):
    return list(itertools.combinations_with_replacement(tap_hop, k))

tap_hop = ['c', 'o', 'o','l']
k = 4
print(tao_to_hop_lap(tap_hop, k))

[('c', 'c', 'c', 'c'), ('c', 'c', 'c', 'o'), ('c', 'c', 'c', 'o'), ('c', 'c', 'c', 'l'), ('c', 'c', 'o', 'o'), ('c', 'c', 'o', 'o'), ('c', 'c', 'o', 'l'), ('c', 'c', 'o', 'o'), ('c', 'c', 'o', 'l'), ('c', 'c', 'l', 'l'), ('c', 'o', 'o', 'o'), ('c', 'o', 'o', 'o'), ('c', 'o', 'o', 'l'), ('c', 'o', 'o', 'o'), ('c', 'o', 'o', 'l'), ('c', 'o', 'l', 'l'), ('c', 'o', 'o', 'o'), ('c', 'o', 'o', 'l'), ('c', 'o', 'l', 'l'), ('c', 'l', 'l', 'l'), ('o', 'o', 'o', 'o'), ('o', 'o', 'o', 'o'), ('o', 'o', 'o', 'l'), ('o', 'o', 'o', 'o'), ('o', 'o', 'o', 'l'), ('o', 'o', 'l', 'l'), ('o', 'o', 'o', 'o'), ('o', 'o', 'o', 'l'), ('o', 'o', 'l', 'l'), ('o', 'l', 'l', 'l'), ('o', 'o', 'o', 'o'), ('o', 'o', 'o', 'l'), ('o', 'o', 'l', 'l'), ('o', 'l', 'l', 'l'), ('l', 'l', 'l', 'l')]

In [8]:
def solutions(n ,r):
    if n == 1:
        return [[r]]
    S = []
    for i in range(r+1):
        for s in solutions(n-1 , r-i):
            s = [i] + s
            S.append(s)
    return S

def compare(A,B):
    k = 0
    for i in A:
        for j in B:
            if (i not in B) or (j not in A):
                k += 0
            else:
                k +=1
    if (k==0):
        return False
    return True

A = solutions(3,4)
B = []
for i in A:
    for j in B:
        if compare(i,j) == True:

[0, 0, 4]
[0, 1, 3]
[0, 2, 2]
[0, 3, 1]
[0, 4, 0]
[1, 0, 3]
[1, 1, 2]
[1, 2, 1]
[1, 3, 0]
[2, 0, 2]
[2, 1, 1]
[2, 2, 0]
[3, 0, 1]
[3, 1, 0]
[4, 0, 0]

In [8]:
for i in range(1,4):
    for j in range(1,i+1):
        for k in range(1,j):
            print(i,j,k)

2 2 1
3 2 1
3 3 1
3 3 2